# .gitignore
# Ignore all files in node_modules directory
node_modules/

# Ignore virtual environment directories
venv/
env/
.venv/
env.bak/
venv.bak/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Django-specific files and directories
.mypy_cache/
.pytest_cache/
.sentry/ # Sentry error tracking
staticfiles/

# Ignore database file
db.sqlite3

# Ignore IDE specific files
.idea/
.vscode/

# Ignore log files
logs/
*.log

# Ignore temporary files
*.tmp
*.swp
*~

# Ignore backup files
*.bak
*.orig

# Ignore OS-specific files
Thumbs.db
ehthumbs.db
Desktop.ini